[submodule "external/GSL"]
	path = external/GSL
	url = https://github.com/microsoft/GSL.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/nlohmann_json"]
	path = external/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "external/cista"]
	path = external/cista
	url = https://github.com/felixguendling/cista.git
